doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
    link(rel="stylesheet", href="/messenger/messenger.css")
    link(rel="stylesheet", href="/messenger/messenger-theme-future.css")
    script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
    script(src="/messenger/messenger.js")
    script(src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js")

  body
    block content